[submodule "guacamole-common"]
	path = guacamole-common
	url = git://guacamole.git.sourceforge.net/gitroot/guacamole/guacamole-common
[submodule "guacamole-common-auth"]
	path = guacamole-common-auth
	url = git://guacamole.git.sourceforge.net/gitroot/guacamole/guacamole-common-auth
[submodule "libguac"]
	path = libguac
	url = git@code.ulteo.com:guacamole/libguac
[submodule "guacamole"]
	path = guacamole
	url = git@code.ulteo.com:guacamole/guacamole
[submodule "guacd"]
	path = guacd
	url = git@code.ulteo.com:guacamole/guacd
[submodule "libguac-client-rdp"]
	path = libguac-client-rdp
	url = git@code.ulteo.com:guacamole/libguac-client-rdp
[submodule "common-js"]
	path = common-js
	url = git@code.ulteo.com:guacamole/common-js
[submodule "auth-ulteo-ovd"]
	path = auth-ulteo-ovd
	url = git@code.ulteo.com:guacamole/auth-ulteo-ovd
[submodule "printing"]
	path = printing
	url = git@code.ulteo.com:guacamole/printing
[submodule "ovd"]
	path = ovd
	url = git@code.ulteo.com:ovd.git
[submodule "freerdp"]
	path = freerdp
	url = git@code.ulteo.com:freerdp.git
